@charset "UTF-8";

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: 'DM Sans', Arial, 'sans-serif';
}
html { 
    font-size:62.5%;
    background-color: #fff;
    color: #000;
}
a { 
    text-decoration: none !important; 
    color: #fff;
}
img { border: 0; }
ul { list-style: none; }



/* 헤더 */
#main_header {
    position: relative;
    width: 100%;
    height: 942px;
    z-index: 1;
}

/* 로고 */
.header_menu .logo {
    z-index: 1;
}

.header_menu .logo img {
    max-width: 270px;
    width: 100%;
    height: 130px;

    z-index: 1;
}

/* 헤더메뉴 */
.header_menu {
    /* position: fixed; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

/* gnb메뉴 */
.header_menu .gnb_menu {
    position: sticky;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: -80px;
}

.header_menu .gnb_menu > li {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.header_menu .gnb_menu > li > a {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 5px;
}

.header_menu .gnb_menu > li > a:hover {
    color: #fff;
    background: #FFE200;
    transition: 0.8s;
}

/* 서치바 */
.header_menu .search {
    position: relative;
    width: 150px;
    height: 40px;
}

.header_menu .search a {
    font-size: 1.8rem;
}

.header_menu .search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 0 10px 0 2%;
}

.header_menu .search input::placeholder {
    color: #fff;
    font-size: 1.3rem;
    padding-bottom: 0;
    letter-spacing: 1.2px;
}

.header_menu .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

/* 로그인 */
.header_menu .login {
    margin-top: 25px;
    height: 30px;
}

.header_menu .login a {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase
}

/* 장바구니-아이콘 */
.header_menu .shop_icon {
    margin-top: 25px;
    margin-right: 20px;
}

.header_menu .shop_icon a {
    font-size: 1.8rem;
}

/* 하위메뉴 */
.lnb_menu {
    position: absolute;
    top: 51px;
    /* background: #fff; */
    height: auto;
    /* width: 100%; */
    display: none;
}

.lnb_menu > ul {
    /* background: #fff; */
}

.lnb_menu > ul > li {
    padding: 10px 0;
    width: 100%;

}

.lnb_menu > ul > li > a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    padding: 10px 8px;
}

.lnb_menu > ul > li:hover {
    background: #1A3431;
    transition: 0.6s all linear;
}

.lnb_menu > ul > li:hover a { color:#fff; }


.show { display: block; }
.hide { display: none; }
.appear { animation: fade-in 0.4s; }
.disappear { animation: fade-out 0.4s; }


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



/* hamberger_메뉴바 */
.trigger {
    display: none;
}

.hamburger .line{
    z-index: 1;
    width: 40px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{ cursor: pointer; }

#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}


/* 헤더메인 */
#main_header .swiper-container {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
}

.swiper-container .swiper-slide .main_wrap .bg_img {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide .main_wrap .bg_img .pc_ver {
    max-width: 100%;
    width: 100%;
    height: 942px;
}

.swiper-container .swiper-slide .main_wrap .bg_img .tablet_ver { 
    display: none;
    width: 100%;
    height: 377px;
}

.swiper-container .swiper-slide .main_wrap .bg_img .mobile_ver { 
    display: none; 
    width: 100%;
    height: 236px;
}

.header-button-next {
    background: url('../images/button_next.png') no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.header-button-prev {
    background: url('../images/button_prev.png') no-repeat;
    background-size: 100% auto;
    background-position: center;
}

/* 헤더 타이틀 */
.header_title {
    position: absolute;
    top: 300px;
    left: 400px;
}

.header_even {
    position: absolute;
    bottom: 200px;
    right: 110px;
}

.header_title h2 {
    color: #fff;
    font-size: 5.0rem;
    font-weight: 700;
    line-height: 6.0rem;
}

.header_even h2 {
    color: #fff;
    font-size: 5.0rem;
    font-weight: 700;
    line-height: 6.0rem;
}

.header_title p {
    color: #fff;
    font-size: 3.0rem;
    padding-bottom: 10px;
}

.header_even p {
    color: #fff;
    font-size: 3.0rem;
}



/* 화면 오른쪽-button */
/* 채팅버튼 */
.chatBtn {
    position: fixed;
    bottom: 80px;
    right: 20px;

    width: 60px;
    height: 60px;
    background: #2B41A7;

    z-index: 2;
}

.chatBtn button {
    border: 0;
    background: transparent;
}

.chatBtn img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;

    transition: 0.5s all linear;
}

.chatBtn img:hover {
    /* cursor: pointer; */
    transform: rotate(45deg);
}



/* 상단버튼 */
.topBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;

    width: 60px;
    height: 60px;
    background: #2B41A7;

    z-index: 2;
}

.topBtn img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}  




/* 푸터 */
#main_footer {
    margin: 0 auto;

    position: relative;
    height: 330px;

    border-top: 1px solid #555;
}

.footer_line::after {
    content: "";
    position: absolute;
    background: #555;
    display: inline-block;
    left: 0;
    top: 28.5%;
    width: 100%;
    height: 1px;
}

/* 푸터_gnb : 언어설정, sns바로가기 등 */
.footer_gnb {
    max-width: 1440px;
    width: 100%;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 95px;
}

.footer_gnb .lang a {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 95px;
    color: #555555;
}

.footer_gnb .footer_sns a {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 95px;
    color: #555555;
    padding: 0 40px;
}

.footer_gnb .footer_sns i.fab {
    padding: 0 5px;
    font-size: 1.8rem;
}

/* 푸터 lnb */
.footer_lnb {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.footer_lnb ul {
    display: flex;
    padding: 10px 0;
}

.footer_lnb .footer_title li {
    position: relative;
    height: 21px;
}

.footer_lnb .footer_title li::after {
    position: absolute;
    content: "";
    background: #555;
    display: inline-block;
    left: -10px;
    top: 2px;
    width: 1px;
    height: 80%;
}

.footer_lnb .footer_title li:first-child::after {
    display: none;
}

.footer_lnb .info li {
    position: relative;
    height: 17px;
}

.footer_lnb .info li::after {
    position: absolute;
    content: "";
    background: #555;
    display: inline-block;
    left: -10px;
    top: 3px;
    width: 1px;
    height: 70%;
}

.footer_lnb .info li:first-child::after {
    display: none;
}

.footer_lnb .adress li {
    position: relative;
    height: 17px;
}

.footer_lnb .adress li::after {
    position: absolute;
    content: "";
    background: #555;
    display: inline-block;
    left: -10px;
    top: 3px;
    width: 1px;
    height: 70%;
}

.footer_lnb .adress li:first-child::after {
    display: none;
}

.footer_lnb .footer_title li a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #555;
}

.footer_lnb ul > li {
    padding-right: 20px;
    font-size: 1.3rem;
    color: #555;
}




/* 미디어쿼리 */
@media all and (min-width:1440px) {
    #main_header { width: 100%; }
}

@media all and (min-width:1024px) and (max-width:1439px) {
    .header_menu .logo img {
        max-width: 250px;
    }

    /* 헤더메뉴 */
    .header_menu {
        max-width: 1024px;
    }

    /* gnb메뉴 */
    .header_menu .gnb_menu {
        margin-top: 25px;
        margin-left: -30px;
    }

    .header_menu .gnb_menu li {
        padding: 0 15px;
    }

    .header_menu .gnb_menu li a {
        font-size: 1.5rem;
        padding: 10px 5px;
    }

    /* 서치바 */
    .header_menu .search {
        width: 100px;
    }

    .header_menu .search a {
        font-size: 1.5rem;
    }

    .header_menu .search input {
        width: 100%;
        height: 100%;
        padding: 0 10px 0 0;
    }

    .header_menu .search input::placeholder {
        font-size: 1.1rem;
    }

    /* 로그인 */
    .header_menu .login a {
        font-size: 1.5rem;
    }

    /* 장바구니 아이콘 */
    .header_menu .shop_icon a {
        font-size: 1.5rem;
    }

    /* 헤더 타이틀 */
    .header_title {
        top: 300px;
        left: 200px;
    }

    .header_even {
        bottom: 200px;
        right: 50px;
    }

    .header_title h2 {
        font-size: 4.0rem;
        line-height: 6.0rem;
    }

    .header_even h2 {
        font-size: 3.5rem;
        line-height: 5.0rem;
    }

    .header_title p {
        font-size: 3.0rem;
        padding-bottom: 10px;
    }

    .header_even p {
        font-size: 2.5rem;
    }

    /* 푸터 */
    /* 푸터_gnb : 언어설정, sns바로가기 등 */
    .footer_gnb {
        max-width: 1024px;
        width: 100%;
    }

    .footer_gnb .lang {
        padding: 0 20px;
    }

    .footer_gnb .lang a {
        font-size: 1.3rem;
    }

    .footer_gnb .footer_sns a {
        font-size: 1.3rem;
        padding: 0 20px;
    }

    .footer_gnb .footer_sns i.fab {
        padding: 0 5px;
        font-size: 1.7rem;
    }

    /* 푸터 lnb */
    .footer_lnb {
        max-width: 1024px;
    }

    .footer_lnb ul {
        padding: 8px 20px;
    }

    /* .footer_lnb .footer_title li {
        height: 21px;
    } */

}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #main_header { height: 377px; }

    .header_menu .logo { margin: 0 auto; }
    .header_menu .logo img { max-width: 270px; }

    .swiper-container .swiper-slide .main_wrap .bg_img img { height: 100%; }

    /* 슬라이드배너 이미지(피씨, 모바일버전감추기 */
    .swiper-container .swiper-slide .main_wrap .bg_img .pc_ver { display: none; }
    .swiper-container .swiper-slide .main_wrap .bg_img .mobile_ver { display: none; }
    .swiper-container .swiper-slide .main_wrap .bg_img .tablet_ver { 
        display: block; 
        width: 100%;
    }

    /* gnb메뉴,서치바,로그인,쇼핑아이콘 없애기 */
    .header_menu .gnb_menu { display: none; }
    .header_menu .search { display: none; }
    .header_menu .login { display: none; }
    .header_menu .shop_icon { display: none; }


    .header_menu .trigger {
        position: absolute;
        top: 40px;
        right: 20px;
        display: block;
    }

    /* 헤더 타이틀 */
    .header_title {
        top: 180px;
        left: 200px;
    }

    .header_even {
        bottom: 30px;
        right: 20px;
    }

    .header_title h2 {
        font-size: 3.0rem;
        line-height: 4.0rem;
    }

    .header_even h2 {
        font-size: 3.0rem;
        line-height: 4.0rem;
    }

    .header_title p {
        font-size: 1.5rem;
    }

    .header_even p {
        font-size: 2.5rem;
    }


     /* 상단+버튼 */
    .chatBtn {
        width: 40px;
        height: 40px;
        bottom: 60px;
    }
    
    .chatBtn img {
        width: 40px;
        height: 40px;
    }  
    
    /* 상단버튼 */
    .topBtn {    
        width: 40px;
        height: 40px;
    }
    
    .topBtn img {
        width: 50%;
        margin-top: 15px;
    }


    /* 푸터 */
    #main_footer {
        height: auto;
    }
    /* 푸터_gnb : 언어설정, sns바로가기 등 */
    .footer_gnb {
        width: 100%;
        height: 60px;
    }

    .footer_gnb .lang {
        padding: 0 20px;
    }

    .footer_gnb .lang a {
        font-size: 1.3rem;
    }

    .footer_gnb .footer_sns a {
        font-size: 1.3rem;
        padding: 0 15px;
    }

    .footer_gnb .footer_sns i.fab {
        padding: 0 5px;
        font-size: 1.7rem;
    }

    /* 푸터 lnb */
    .footer_lnb {
        max-width: 1024px;
    }

    .footer_lnb ul {
        padding: 5px 20px;
    }

    .footer_lnb .footer_title li a {
        font-size: 1.3rem;
    }
    
    .footer_lnb ul > li {
        padding-right: 20px;
        font-size: 1.0rem;
        color: #555;
    }
    

}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) { 
    #main_header { height: 235.5px; }

    .header_menu .logo { margin: 0 auto; }
    .header_menu .logo img { 
        width: 100%;
        max-width: 250px;
        height: 100px; 
    }

    .swiper-container .swiper-slide .main_wrap .bg_img img { 
        width: 100%;
        height: 100%; }

    /* 슬라이드배너 이미지(피씨, 모바일버전감추기 */
    .swiper-container .swiper-slide .main_wrap .bg_img .pc_ver { display: none; }
    .swiper-container .swiper-slide .main_wrap .bg_img .tablet_ver { display: none; }
    .swiper-container .swiper-slide .main_wrap .bg_img .mobile_ver { 
        display: block;
        width: 100%;
    }

    /* gnb메뉴,서치바,로그인,쇼핑아이콘 없애기 */
    .header_menu .gnb_menu { display: none; }
    .header_menu .search { display: none; }
    .header_menu .login { display: none; }
    .header_menu .shop_icon { display: none; }

    .header_menu .trigger {
        display: block;
        margin-right: 20px;
    }

    .hamburger .line{
        width: 30px;
        height: 5px;
        margin: 8px auto;
    }

    .header_title { display: none; }
    .header_even { display: none; }


    /* 상단+버튼 */
    .chatBtn {
        width: 30px;
        height: 30px;
        bottom: 45px;
    }
    
    .chatBtn img {
        width: 30px;
        height: 30px;
    }  
    
    /* 상단버튼 */
    .topBtn {    
        width: 30px;
        height: 30px;
    }
    
    .topBtn img {
        width: 50%;
        margin-top: 10px;
    }  





    /* 푸터 */
    #main_footer {
        height: auto;
    }

    .footer_line::after {
        content: "";
        position: absolute;
        background: #555;
        display: inline-block;
        left: 0;
        top: 20%;
        width: 100%;
        height: 1px;
    }


    /* 푸터_gnb : 언어설정, sns바로가기 등 */
    .footer_gnb {
        width: 100%;
        height: 72px;
    }

    .footer_gnb .lang {
        padding: 0 10px;
    }

    .footer_gnb .lang a {
        font-size: 1.2rem;
    }

    .footer_gnb .footer_sns a {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .footer_gnb .footer_sns i.fab {
        padding: 0 3px;
        font-size: 1.3rem;
    }

    /* 푸터 lnb */
    .footer_lnb {
        max-width: 767px;
    }

    .footer_lnb ul {
        padding: 3px 5px;
        flex-direction: column;
    }

    .footer_lnb .footer_title li a {
        font-size: 1.0rem;
    }
    
    .footer_lnb ul > li {
        padding-right: 30px;
        font-size: 0.8rem;
        color: #555;
    }

}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) { 
    #main_header { height: 235.5px; }

    .header_menu .logo { margin: 0 auto; }
    .header_menu .logo img { 
        max-width: 200px;
        height: 40px; 
    }

    .swiper-container .swiper-slide .main_wrap .bg_img { width: 100%; }
    .swiper-container .swiper-slide .main_wrap .bg_img img { 
        width: 100%;
        height: 100%; }

    /* 슬라이드배너 이미지(피씨, 모바일버전감추기 */
    .swiper-container .swiper-slide .main_wrap .bg_img .pc_ver { display: none; }
    .swiper-container .swiper-slide .main_wrap .bg_img .tablet_ver { display: none; }
    .swiper-container .swiper-slide .main_wrap .bg_img .mobile_ver { 
        display: block;
        width: 100%;
    }

    /* gnb메뉴,서치바,로그인,쇼핑아이콘 없애기 */
    .header_menu .gnb_menu { display: none; }
    .header_menu .search { display: none; }
    .header_menu .login { display: none; }
    .header_menu .shop_icon { display: none; }

    .header_menu .trigger {
        display: block;
        margin-right: 20px;
    }
    
    .hamburger .line{
        width: 25px;
        height: 3px;
        margin: 4px auto;
    }
    
    #hamburger-1.is-active .line:nth-child(2){
        opacity: 0;
    }
    
    #hamburger-1.is-active .line:nth-child(1){
        -webkit-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        -o-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
    }
    
    #hamburger-1.is-active .line:nth-child(3){
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        -o-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
    }


    .header_title { display: none; }
    .header_even { display: none; }


    /* 상단+버튼 */
    .chatBtn {
        width: 30px;
        height: 30px;
        bottom: 45px;
    }
    
    .chatBtn img {
        width: 30px;
        height: 30px;
    }  
    
    /* 상단버튼 */
    .topBtn {    
        width: 30px;
        height: 30px;
    }
    
    .topBtn img {
        width: 50%;
        margin-top: 10px;
    }  




    /* 푸터 */
    #main_footer {
        height: auto;
    }

    .footer_line::after {
        content: "";
        position: absolute;
        background: #555;
        display: inline-block;
        left: 0;
        top: 20%;
        width: 100%;
        height: 1px;
    }


    /* 푸터_gnb : 언어설정, sns바로가기 등 */
    .footer_gnb {
        width: 100%;
        height: 72px;
    }

    .footer_gnb .lang {
        padding: 0 6px;
    }

    .footer_gnb .lang a {
        font-size: 1.0rem;
    }

    .footer_gnb .footer_sns a {
        font-size: 0rem;
        padding: 0px;
    }

    .footer_gnb .footer_sns i.fab {
        padding: 0 6px;
        font-size: 1.5rem;
    }

    /* 푸터 lnb */
    .footer_lnb {
        max-width: 767px;
    }

    .footer_lnb ul {
        padding: 3px 5px;
        flex-direction: column;
    }

    .footer_lnb .footer_title li a {
        font-size: 1.0rem;
    }
    
    .footer_lnb ul > li {
        padding-right: 30px;
        font-size: 0.8rem;
        color: #555;
    }
}
