@charset "UTF-8";

h1, h2, h3, h4, h5 {
    text-transform: uppercase !important;
}


/* 메인-컨테이너 잠시 보류 */
#main_header {
    margin: 0 auto;
}


/* 비즈니스 */
.business_content {
    max-width: 1440px;
    width: 100%;

    margin: 0 auto;
    margin-top: 125px;
}

/* 비즈니스_타이틀 */
.business_content .title {
    margin-bottom: 25px;
}

.business_content .title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #2B41A7;
    margin-bottom: 10px;
}

.business_content .title p {
    font-size: 1.3rem;
    color: #2B41A7;
}

/* 카드-애니메이션효과 */
.business_content .business_card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.business_image {
    position: relative;
    z-index: 2;
    border-radius: 30px;
    clip-path: circle(25%);
    height: 496px;
    transition: clip-path 1s;
    max-width: 335px;
    width: 100%;
}

.business_image:hover {
    clip-path: circle(75%);
}

.busin_text {
    position: absolute;
    top: 1160px;
    width: 335px;
    height: 496px;
}

.busin_text h4 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.7rem;
    color: #E86E56;
}

.busin_text p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.3rem;
    color: #E86E56;
}


/* 상품 */
.product_content {
    max-width: 1440px;
    width: 100%;

    margin: 0 auto;
    margin-top: 125px;
}

/* 상품_슬라이드 박스 */
/* 타이틀 */
.product_content .food_content .title {
    padding-top: 60px;
    margin-bottom: 25px;
}

.product_content .food_content .title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #2B41A7;
    margin-bottom: 10px;
}

.product_content .food_content .title p {
    font-size: 1.3rem;
    color: #2B41A7;
}

/* 슬라이드전체박스 */

.food_content {

    position: relative;
    width: 100%;
    height: 674px;
    background: #FFDF3E;

    margin-bottom: 138px;
}

/* 더보기 */
.food_content .more_btn {
    position: absolute;
    bottom: 30px;
    left: 642.5px;
}

.more_btn {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background: #2B41A7;
    line-height: 50px;
    font-size: 1.8rem;
    padding-left: 35px;
}

.more_btn a {
    color: #fff;
}


/* 슬라이드 */



/* 오른쪽 초록색 박스 */
.food_box {
    position: absolute;
    width: 700px;
    height: 832px;
    top: 1702px;
    right: 0;
    background: #1A3431;

    z-index: -1;
    
}



/* 서비스 */
/* 타이틀 */
.service_content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.service_content .title {
    padding-bottom: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.service_content .title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #2B41A7;
    margin-bottom: 10px;
}

/* 행동솔루션 */
.service1 {
    display: flex;
    justify-content: start;
    margin-bottom: 60px;
    align-items: center;

    position: relative;
    height: 760px;
}

.service2 {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    align-items: center;
}

/* 애니메이션 효과_글씨 나타남 */
.service1 h3 {
    position: absolute;
    left: 260px;
    font-size: 3.5rem;
    color: #fff;

    text-shadow: 0 0 80px rgba(255,255,255,.5);
    /* 클립백그라운드 */
    background: url(../images/animate-text-fill.png) repeat-x;
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.service2 h3 {
    position: absolute;
    right: 460px;
    font-size: 3.5rem;
    color: #fff;

    text-shadow: 0 0 80px rgba(255,255,255,.5);
    /* 클립백그라운드 */
    background: url(../images/animate-text-fill2.png) repeat-x;
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf1 80s linear infinite;

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf1 {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* 행동솔루션 텍스트박스 */
.text_box {
    position: relative;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0 100px;

    transform: translate3d(0, 0, 0);
}

.text_box p {
    font-size: 2.0rem;
    font-weight: 500;
    /* padding: 30px 5px; */
    letter-spacing: 1px;
}

/* 텍스트박스-애니메이션 */
.service1 .wave {
    position: absolute;
    right: 330px;

    width: 300px;
    height: 300px;
    background: rgba(255, 223, 62, 0.3);
    transform-origin: 50% 48%;
    border-radius: 44%;

    transition-duration: 0.75s;
    /* transition-property: margin-bottom; */
    transition-timing-function: ease;
    animation: rotate 2000ms infinite linear;
}

.service2 .wave {
    position: absolute;
    left: 350px;

    width: 300px;
    height: 300px;
    background: rgba(255, 223, 62, 0.3);

    transform-origin: 50% 48%;
    border-radius: 44%;

    transition-duration: 0.75s;
    /* transition-property: margin-bottom; */
    transition-timing-function: ease;
    animation: rotate 2000ms infinite linear;
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}





/* 띠배너 */
.banner_box {

    margin-top: 60px;
    width: 100%;
    height: 100%;

    margin-bottom: 60px;
}

.banner_box img {
    max-width: 1920px;
    width: 100%;
}



/* 고객리뷰 */
.review_container {
    position: relative;
    height: 890px;
    
    margin-top: 200px;
}

/* 왼쪽 초록색 박스 */
.review_box {
    position: absolute;
    width: 780px;
    height: 890px;
    top: -125px;
    left: 0;
    background: #1A3431;
    z-index: -1;
}

/* 리뷰-타이틀 */
.review_content {
    max-width: 1440px;
    width: 100%;

    margin: 0 auto;
}

.review_content .title {
    margin-bottom: 25px;
}

.review_content .title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #FFE200;
    letter-spacing: 2.0px;
    margin-bottom: 10px;
}

.review_content .title p {
    font-size: 1.3rem;
    color: #fff;
}

/* 더보기 */
.review_content .review_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: -90px;
}

.review_btn a {
    color: #fff;
}

/* 리뷰카드-슬라이드 */
.review_content .review_card {
    
    margin-top: 30px;
    margin-left: 340px;
    /* 원래 990에서 1100으로 크기 키움 */
    width: 1100px;
    height: 500px;
    background: #e3e3e3;
}


/* 매거진 */
.magazine_container {
    position: relative;
    height: 2530px;

    background: #FFDF3E;
}

.magazine_wrap {
    max-width: 1440px;
    width: 100%;

    margin: 0 auto;

    position: relative;
    height: 2530px;
}

.magazine_container .magazine_wrap .title {
    padding-top: 60px;
    margin-bottom: 25px;
}

.magazine_container .magazine_wrap .title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #2B41A7;
    margin-bottom: 10px;
}

.magazine_container .magazine_wrap .title p {
    font-size: 1.3rem;
    color: #2B41A7;
}

/* 더보기 */
.magazine_container .more_btn {
    position: absolute;
    bottom: 60px;
    left: 45vw;
}

/* 작은 배너 */
.s_banner_container {
    display: flex;
    margin: 60px 0;
    justify-content: space-around;

    position: relative;
}

.s_banner_box {
    position: relative;
    height: 200px;
}

.s_banner_box .banner_title {
    position: absolute;
    top: 70px;
    left: 10px;
}

.s_banner_box h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.s_banner_box .banner_text {
    position: absolute;
    top: 120px;
    left: 10px;
}

.s_banner_box p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.s_banner_box .text_ani {
    position: absolute;
    top: 100px;
    right: 80px;
    transition: 1s;
}

.s_banner_box .text_ani:hover {
    font-size: 2.7rem;
}

.s_banner_box hr {
    position: absolute;
    top: 121px;
    right: 138px;
    width: 80px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

/* SNS홍보 */
.sns_container {
    height: 700px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 223, 62, 0.3);
}

.sns_container .sns_content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

    position: relative;
    height: 700px;
}

/* sns_타이틀 */
.sns_container .sns_content .title {
    padding-top: 60px;
    margin-bottom: 25px;
}

.sns_container .sns_content .title h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #2B41A7;
    margin-bottom: 10px;
}

.sns_container .sns_content .title p {
    font-size: 1.3rem;
    color: #2B41A7;
}

/* sns_더보기 */
.sns_content .more_btn {
    position: absolute;
    right: 0;
    top: 60px;
}

/* sns_컨텐츠 카드 */
